<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <!-- TRECHO INSERIDO A PARTIR DO OUTPUT.CONFIG QUE O SVCUTIL GEROU -->
    <bindings>
      <basicHttpBinding>
        <binding name="WS-VIGIA-COMERCIAL-Input-binding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- ROGER: endpoint foi alterado para o que o serviço é publicado no deploy, segui conforme o tutorial-->
      <endpoint address="http://localhost:53472/VIGIA-COMERCIAL-INPUT.svc"
          binding="basicHttpBinding" bindingConfiguration="WS-VIGIA-COMERCIAL-Input-binding"
          contract="WSVIGIACOMERCIALInputportType" name="WS-VIGIA-COMERCIAL-Input-Port" />
    </client>
    <!-- FIM DO TRECHO DO OUTPUT.CONFIG-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <!-- ROGER: externalMetadataLocation INSERIDO CONFORME O TUTORIAL, VINCULAR o WSDL DO PACO -->
          <serviceMetadata 
            httpGetEnabled="true" 
            httpsGetEnabled="true"
            externalMetadataLocation="../WSDL/VIGIA-COMERCIAL-INPUT.wsdl"
          />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
