<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WS-VIGIA-COMERCIAL-Input-binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9696/VIGIA-COMERCIAINPUT/VIGIA-COMERCIAL-Input-service.serviceagent"
                binding="basicHttpBinding" bindingConfiguration="WS-VIGIA-COMERCIAL-Input-binding"
                contract="WSVIGIACOMERCIALInputportType" name="WS-VIGIA-COMERCIAL-Input-Port" />
        </client>
    </system.serviceModel>
</configuration>


public VigiaReply1 MaestroSubescalas(MaestroSubescalasRequest1 MaestroSubescalasRequest)
        {
            VigiaReply1 respuesta = new VigiaReply1();

            return respuesta;
        }

        public System.Threading.Tasks.Task<VigiaReply1> MaestroSubescalasAsync(MaestroSubescalasRequest1 request)
        {
            System.Threading.Tasks.Task<VigiaReply1> respuesta;
            
            return respuesta;
        }

        public VigiaReply1 MaestroEscalas(MaestroEscalasRequest1 request);
        {
        }